body{
    display: flex;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
     text-align: center; 
    /* MARGEM */ 
    padding: 20px; 
    /* COR */ 
    background-color: rgb(201, 124, 236); 
    /* BORDA ARREDONDADA */ 
    border-radius: 10px; 
    /* BORDA SOMBREADA */ 
    box-shadow: 0 0 10px rgb(47, 13, 54);
}
button{
    font-size:35px ;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 140, 252);
    cursor: pointer;
    font-size:13px ;
    

}
button:hover{
    background-color: rgb(27, 112, 84);
}
