<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  
        <h1>Sobre o Projeto</h1>
     <hr>
    <nav>
        <a href="/">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
        <a href="/video">Vídeo flask</a>

    </nav>
    <hr>

   <p>
    O Flask é um microframework web escrito em Python.<br>
    Conhecido por ser um “microframework”, pois apresenta uma forma leve e minimalista, o que proporciona ao usuário liberdade de escolha para adicionar extensões.
    <br>
    <br>
    O Flask utiliza a arquitetura MPA (Multi-Page Application), que consiste em uma arquitetura web na qual cada mudança de seção exige um novo carregamento da página.

    <br>
    <br>
    
    <b>Vantagens</b>

  <br>
  <br>
<b>•Excelente SEO:</b> Ótimo para mecanismos de busca, facilitando a indexação das páginas no Google.
<br>

<b>•Controle de acesso:</b> Permite separar permissões e autenticações de forma mais organizada entre páginas.
<br>

<b>•Carregamento inicial:</b> Mais rápido, pois cada página carrega apenas os recursos necessários.
<br>


</body>
</html>
